<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>My bookmarks</title>
    <link rel="stylesheet" href="{{ static_url("bookmark.css") }}" type="text/css"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div class="body">
      <div class="header">
        <h1>Bookmarks</h1>
      </div>
      <div class="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
