{% extends "base.html" %}
{% block body %}
    <div id="tools_container">
        <p style="margin-bottom: 3px;">Save directly to this folder:</p>
        <a href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://localhost:8888/static/upload.js');document.body.appendChild(e)})())"
   class="bookmarklet"
   onclick="return explain_bookmarklet();"
   title="Read Later">Read it Later</a>
  </div>
  <ul class="archive">
    {% for entry in entries %}
      <li>
        <div class="date" style="float:right">{{ locale.format_date(entry[2], full_format=True, shorter=True) }}</div>
        <div class="body"><a href="{{ entry[1] }}">{{ escape(entry[0]) }}</a></div>
      </li>
    {% end %}
  </ul>
{% end %}
